body {
    height: 100vh;
}


.canvas-container {
    // display: flex;
    // align-items:baseline;
    // justify-content: center;
    position: relative;
    
}

#main-app {
    display: none;
    position: absolute;
}


body {
    transform: perspective(1200px) ;

    
}

fullscreen {
    position: absolute;
    top: 10px; 
    left: 10px;
    height: 100px;
    width: 100px;
}