body {
    height: 100vh;
}


.canvas-container {
    display: flex;
    align-items:baseline;
    justify-content: center;
    
}

#main-app {
    
  
}

body {
    overflow: hidden;
}

#fullscreen {
    position: absolute;
    top: 10px; 
    left: 10px;
    height: 100px;
    width: 100px;
}