

#rotate {
    display: none;
}

#splash-container {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #e0e0e0;
    height: 100vh
    
}

#splash {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#button-container {
display: flex;
    justify-content: space-evenly;
    width: 100%;
}
button {
    
    padding: 3vh 6vh;
    font-family: Silkscreen, sans-serif;
    font-size: 6vh;
}

h1 {
    margin: 4vh;
    font-family: Silkscreen, sans-serif;
    font-size: 20vh;
}
h2{
    margin: 4vh;
    font-family: Silkscreen, sans-serif;
    font-size: 4vh;
}

#high-score {
    
        font-family: Silkscreen, sans-serif;
        font-size: 10vh;
        line-height: 9vh;
        margin-bottom: 2vh;
}
#social-links-container  {
    display: flex;
    justify-content:space-evenly;
    width: 100%;
}
#social-links-container img {
    width: 8vw;
}
@media only screen and (max-device-width: 480px) {
    #rotate {
        font-family: Silkscreen, sans-serif;
        display: table-cell;
        width: 100vw;
        height: 100vh;
        text-align: center;
        vertical-align: middle;
        font-size: 30px;
        background-color: e0e0e0;
    }

    #splash-container {
        display: none;
    }

    #canvas-container {
        display: none;
    }


}